.board {
    background-color: #BCAB9F;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    padding: 5px;
}

.cell {
    background-color: #CCC0B3;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


